{{/* Do not directly modify this file! */}}
{{/* Instead, create a `layouts/partials/custom_head.html` file in your site and add your code to it. */}}

{{/* This partial is included in `themes/tailwind/layouts/partials/head.html`. */}}

<script 
    data-goatcounter="https://liuyc26.goatcounter.com/count"
    async
    src="https://gc.zgo.at/count.js">
</script>
<script async src="https://gc.zgo.at/hit.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      referrerpolicy="no-referrer">